<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:/conf.properties" />
    </bean>

    <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.login}" />
        <property name="password" value="${jdbc.passwd}" />
    </bean>

    <bean id="config"
        class="org.apache.commons.configuration.DatabaseConfiguration">
        <constructor-arg index="0" ref="dataSource" />
        <constructor-arg index="1" value="${conf.table}" />
        <constructor-arg index="2" value="${conf.key}" />
        <constructor-arg index="3" value="${conf.value}" />
        <property name="delimiterParsingDisabled" value="true" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:/mybatis-config.xml" />
    </bean>

    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"
                isolation="READ_COMMITTED" rollback-for="java.lang.Throwable" />
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="transactionOperation"
            expression="execution(* com.scrumers.service..*ServiceImpl.*(..))" />
        <aop:advisor pointcut-ref="transactionOperation"
            advice-ref="txAdvice" />
    </aop:config>

    <bean id="dao" abstract="true"
        class="org.mybatis.spring.support.SqlSessionDaoSupport">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="userDao" class="com.scrumers.dao.mybatis.UserDaoImpl" parent="dao" />
    <bean id="roleDao" class="com.scrumers.dao.mybatis.RoleDaoImpl" parent="dao" />
    <bean id="productDao" class="com.scrumers.dao.mybatis.ProductDaoImpl" parent="dao" />
    <bean id="teamDao" class="com.scrumers.dao.mybatis.TeamDaoImpl" parent="dao" />
    <bean id="iterationDao" class="com.scrumers.dao.mybatis.IterationDaoImpl" parent="dao" />
    <bean id="taskDao" class="com.scrumers.dao.mybatis.TaskDaoImpl" parent="dao" />
    <bean id="organizationDao" class="com.scrumers.dao.mybatis.OrganizationDaoImpl" parent="dao" />
    <bean id="storyDao" class="com.scrumers.dao.mybatis.StoryDaoImpl" parent="dao" />

    <bean id="userService" class="com.scrumers.service.UserServiceImpl">
        <property name="iterationDao" ref="iterationDao" />
        <property name="userDao" ref="userDao" />
        <property name="roleDao" ref="roleDao" />
        <property name="productDao" ref="productDao" />
        <property name="organizationDao" ref="organizationDao" />
        <property name="prefixAvatar" value="${prefixAvatars}" />
        <property name="conf" ref="config" />
    </bean>

    <bean id="userDetailsService" class="com.scrumers.service.UserDetailsServiceImpl">
        <property name="srv" ref="userService" />
    </bean>

    <bean id="productService" class="com.scrumers.service.ProductServiceImpl">
        <property name="teamDao" ref="teamDao" />
        <property name="productDao" ref="productDao" />
        <property name="organizationDao" ref="organizationDao" />
    </bean>

    <bean id="iterationService" class="com.scrumers.service.IterationServiceImpl">
        <property name="iterationDao" ref="iterationDao" />
        <property name="productDao" ref="productDao" />
    </bean>

    <bean id="organizationService" class="com.scrumers.service.OrganizationServiceImpl">
        <property name="organizationDao" ref="organizationDao" />
        <property name="teamDao" ref="teamDao" />
        <property name="userDao" ref="userDao" />
    </bean>

    <bean id="storyService" class="com.scrumers.service.StoryServiceImpl">
        <property name="productDao" ref="productDao" />
        <property name="iterationDao" ref="iterationDao" />
        <property name="storyDao" ref="storyDao" />
    </bean>

    <bean id="teamService" class="com.scrumers.service.TeamServiceImpl">
        <property name="teamDao" ref="teamDao" />
        <property name="userDao" ref="userDao" />
        <property name="organizationDao" ref="organizationDao" />
    </bean>

    <bean id="taskService" class="com.scrumers.service.TaskServiceImpl">
        <property name="taskDao" ref="taskDao" />
        <property name="storyDao" ref="storyDao" />
    </bean>

    <aop:aspectj-autoproxy />

    <bean class="com.scrumers.util.ImageUtils" id="imageUtil">
        <property name="conf" ref="config"></property>
    </bean>
</beans>